a {
  text-decoration: none;
}

.musicList {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: seagreen;
  width: 35%;
  margin-left : 5%;
  float:left;
}

.musicList :visited {
  color: seagreen;
}

.moviesList {
  margin-top: 3%;
  width: 50%;
  margin-left: 3%;
  float: left;
}
.movieMain {
  display:flex;
  flex-direction:row;
  background-color : #3cbc8d;
  background-color: #3cbc8d;
    border-radius: 25px;
    border-style: solid;
    border-width: 25px;
    border-color: #3cbc8d;
}
.movieText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: white;
  width:50%;
  margin : 1%;
}
.moviesList :visited {
  color: whitesmoke;
}
.movieSummary {
  width :100%;
}

.movieThumb {
  width : 50%
}
.movieThumb img {
  max-width:100%;
  max-height:100%;
}
.searchBar {
  margin-bottom: 1%;
  margin-left: 3%;
  margin-top: 1%;
  width: 80%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  background-color: #3cbc8d;
  color: white;
  outline: none;
}
.searchBar:-webkit-autofill,
.searchBar:-webkit-autofill:hover,
.searchBar:-webkit-autofill:focus,
.searchBar:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #3cbc8d inset !important;
    -webkit-text-fill-color: white !important;
}

input[type="submit"] {
  background-color: #3cbc8d;
  color: white;
  margin-left: 1%;
}

input[type="submit"]:hover {
  background-color: darkgoldenrod;
}
